* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1024px;
  height: 100%;
  margin: 50px auto;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.form-wrapper {
  width: 60%;
  padding: 40px;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #3f4d65;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-size: 10px;
  color: #5e7090;
  text-transform: uppercase;
}

.input {
  display: block;
  width: 100%;
  padding: 5px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.textarea {
  resize: none;
}

.content {
  padding: 20px;
  width: 40%;
  background: linear-gradient(to bottom, #04b9ff 0%, #059bff 100%);
}

.content-text {
  font-size: 14px;
  font-weight: 400;
  color: #f8f9fa;
}

.form-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #04b9ff;
  border: 1px solid transparent;
  border-color: #04b9ff;
  border-radius: 1px;
  cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #0dacee;
  border-color: #0dacee;
}

.result-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 20px;
  color: #04b9ff;
  text-align: center;
}

.equal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#formResultConversion {
  width: 40%;
  overflow: auto;
}

#toResultConversion {
  width: 40%;
  overflow: auto;
}

.json {
  font-size: 8px;
}

.filter-wrapper {
  display: flex;
  gap: 5px;
}

.filter-select {
  width: 50%;
}

.result-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 40px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
}

.data-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.data-list-item {
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #f8f9fa;
  background: linear-gradient(to bottom, #04b9ff 0%, #059bff 100%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.data-list-item:hover {
  color: #04b9ff;
  text-align: center;
  background: none;
  border: 1px solid #04b9ff;
  transform: scale(1.15);
}

.center {
  text-align: center;
}

.notFound {
  margin: 0;
  margin-bottom: 200px;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: #04b9ff;
  text-align: center;
}

.notFound::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-image: url(https://i.gifer.com/origin/3f/3fcf565ccc553afcfd89858c97304705.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.location-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 10px;
  color: #04b9ff;
  border: 1px solid #04b9ff;
  border-radius: 4px;
}

.location-result {
  flex-direction: column;
  align-items: start;
}

.title-img {
  animation: asteroidAnimation 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: none;
}

.pagination-wrapper {
  display: none;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-btn {
  margin: 0;
  padding: 10px;
  color: #04b9ff;
  background: none;
  border: 1px solid #04b9ff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.pagination-btn:hover {
  color: #ffffff;
  background-color: #04b9ff;
}

.current-page {
  margin: 0;
  padding: 10px;
  color: #04b9ff;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@keyframes asteroidAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .form-wrapper {
    width: 100%;
    height: 60%;
  }

  .content {
    width: 100%;
    height: 40%;
  }
}
